


body {
	margin:           0;
	background-color: #222;
	color:            #EEE;
	font-family:      "Noto Sans UI", Helvetica, sans-serif;
}

h2 {
	margin:           0;
}
h3 {
	color:            #ADF;
}



#header {
	vertical-align:   middle;
	height:           3.5em;
	width:            100%;
	padding-left:     2em;
	vertical-align:   middle;
	background-color: #444;
}


#content {
	margin-left:      5em;
	margin-right:     5em;
	padding:          2em;
	background-color: #333;
	word-wrap:        break-word;
}


#page_title {
	display:          inline-block;
	color:            #FFF;
	transition:       0.5s;
}
#page_title:hover {
    color:           #5EA;
}

.SSLogo {
	display:          inline-block;
	margin:           0.5em;
}
.SSLogo div {
	display:          inline-block;
	height:           20px;
	width:            4px;
	margin-right:     2px;
	background-color: #5EA;
	transition:       0.5s;
}
.SSLogo:hover > div:nth-child(1) {
	transform:        rotate(90deg) translate(8px);
}
.SSLogo:hover > div:nth-child(3) {
	transform:        rotate(90deg) translate(-8px);
}


#cats {
	max-width  : 1200px;
	text-align : center;
	margin     : auto;
}